extends layout

block content
  h1 Регистрация
  if error
    p(class="error")= error
  if success
    p(class="success")= success
  form(method="POST" action="/auth/register")
    label(for="username") Имя пользователя:
    input(type="text" id="username" name="username" required)
    br
    label(for="email") Email:
    input(type="email" id="email" name="email" required)
    br
    label(for="password") Пароль:
    input(type="password" id="password" name="password" required)
    br
    button(type="submit") Зарегистрироваться